/* Reset */
* {
  box-sizing: border-box;
}

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #20303c;
}

.clear-fix {
  content: '';
  display: table;
  clear: both;
}

/* Menu */
.header {
  width: 100%;
  padding: 10px 40px;
  border-bottom: 1px solid #EFF1F2;
  position: relative;
}

.header-logo {
  background: url('../img/logo.png') no-repeat;
  height: 30px;
  width: 75px;
  text-indent: -200px;
  overflow: hidden;
  float: left;
}

.header-nav ul {
  margin-left: 40px;
  padding: 5px 0;
  float: left;
}

.header-nav li {
  display: inline-block;
}

.header-nav a {
  color: #20303c;
  padding: 10px;
  font-size: 0.9375em; /* 15px */
}

.header-nav a:hover {
  border-top: 3px solid #459FED;
}

.header img {
  display: inline-block;
  position: absolute;
  right: 190px;
  top: 20px;
}

a.header-btn {
  float: right;
  border: 1px solid;
  border-radius: 50px;
  color: #459FED;
  padding: 10px 20px;
  margin-right: 40px;
}

a.header-btn:hover {
  color: #fff;
  background: #459FED;
}

/* Main */
.main-container {
  display: flex;
}

/* SideBar */
.side-bar {
  flex: 1;
  max-width: 300px;
  padding: 60px 20px 40px 40px;
  margin-right: 10px;
  border-right: 1px solid #E8EAEB;
}

.side-bar-division {
  border-top: 1px solid #E8EAEB;
}

.side-bar input {
  padding: 10px 10px 10px 30px;
  width: 100%;
  font-size: 1.125em; /* 18px */
  font-style: italic;
  border: none;
  border-bottom: 1px solid #459FED;
}

.fa-search {
  position: relative;
  top: 33px;
  left: 8px;
}

.side-bar h2 {
  font-size: 1em; /* 16px */
  color: #43515c;
  font-weight: normal;
  margin: 30px 0;
}

.side-bar li {
  margin: 20px 0;
}

.side-bar-marked {
  background: #d3edff;
  padding: 10px 20px;
  display: block;
}

.side-bar a {
  color: #252525;
}

.side-bar a:hover {
  color: #459FED;
  padding-left: 5px;
  font-size: 0.9375em; /* 15px */
}

.side-bar-marked a:hover {
  font-size: 1em;
  color: #252525;
}

.side-bar-arrow li a::before {
  content: '>';
  display: inline-block;
  padding-right: 10px;
  color: #459FED;
  font-size: 1.2em; /* 19px */
  font-family: 'Courier New', Courier, monospace;
}

/* Products */
.product {
  max-width: 960px;
  margin: 0 auto;
  flex: 1;
}

.product-header h1 {
  font-weight: normal;
  font-size: 2.5em; /* 40px */
  text-align: center;
  padding: 40px;
}

.product ul li {
  float: left;
  max-width: 460px;
  padding: 0px 20px;
}

.product-itens li div {
  border-radius: 4px;
  overflow: hidden;
}

.product-itens span {
  display: block;
  text-align: center;
  padding: 20px 0 30px 0;
  font-style: italic;
}

/* Footer */
.footer {
  background: #eaeded;
  padding: 80px;
  width: 100%;
}

.footer-nav > ul > li {
  float: left;
  margin: 0 20px;
}

.footer-nav h3 {
  font-weight: normal;
  margin-bottom: 20px;
}

.footer-nav-itens a {
  display: block;
  color: #43515c;
  font-size: 0.875em; /* 14px */
  margin-bottom: 16px;
}

.footer-nav-itens a:hover {
  color: #459FED;
}

.footer-right {
  float: right;
  width: 300px;
  margin-right: 120px;
}

.footer-right ul {
  text-align: center;
}

.footer-right ul li {
  display: inline-block;
}

.footer-right span {
  font-weight: bold;
}

.footer-right p {
  margin-top: 10px;
  font-size: 0.875em; /* 14px */
  color: #43515c;
}

.footer-right a {
  color: #43515c;
}

.footer-right a:hover {
  text-decoration: underline;
}

.footer-right ul li a {
  display: block;
  color: #43515c;
  margin: 20px 5px;
  font-size: 1.8em; /* 20px */
}

.footer-right ul li a:hover {
  color: #459FED;
}

/* Responsivo */

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 980px) {
  .header {
    padding: 10px;
  }

  .footer {
    padding: 20px 10px 0px 10px;
  }

  .footer-right {
    width: 700px;
    margin: 0;
  }
}

/* Mobile */
@media only screen and (max-width: 739px) {
  
  /* Menu */
  .header {
    padding: 10px 0px;
  }
  
  .header-logo {
    margin: 0 auto;
    float: none;
    display: block;
  }
  
  .header-nav ul {
    margin: 0;
    padding: 0;
    float: none;
    text-align: center;
  }
  
  .header-nav a {
    display: block;
    padding: 20px 10px 10px 10px;
  }
  
  .header-nav a:hover {
    border-top: none;
    color: #459FED;
  }
  
  .header img {
    right: 80%;
    top: 80%;
  }
  
  a.header-btn {
    float: right;
    padding: 10px 40px;
  }

  /* Sidebar */
  .side-bar {
    display: none;
  }

  /* Main */
  .main-container {
    flex-direction: column;
  }

  .product {
    max-width: 300px;
    margin: 0 auto;
  }

  /* Footer */
  .footer {
    padding: 20px 10px 0px 10px;
  }
  .footer-nav {
    display: none;
  }

  .footer-right {
    float: none;
    padding: 0;  
    max-width: 280px;
    margin: 0 auto;
  }

}