/* #30days30sites 
  Author: Eduardo Dantas
  Day: 02(two)
  Original: https://www.wix.com/website-template/view/html/1907?originUrl=http://www.wix.com/website/templates/html/events/1&bookName=&galleryDocIndex=6&category=events&utm_source=newsletter&utm_medium=email&utm_campaign=30_days_30_sites_day_2&utm_term=2018-07-04
  Ps: pure css
*/

/* reset */
body, h1, h2, h3, p, ul{
  padding: 0px;
  margin: 0px;
}
img{
  display: block;
}
body{
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  background:#fff;
}
* {
  box-sizing: border-box; 
}
.container{
  max-width: 960px;
  margin: 0px auto;
}
.container::after, .container::before{
  content: '';
  display: table;
  clear: both;
}
.menu-nav ul li a.current-color{
  color: #7b6392;
}
/* menu */
.menu{
  text-align: center;
  padding: 40px 10px;
}
.menu-nav ul{
  float: left;
  margin: 20px 20px 0px 40px;
}
.menu-nav ul li{
  display: inline;
}
.menu-nav ul li a{
  padding: 10px;
  text-decoration: none;
  color: #524261;
}
.menu-nav ul li a:hover{
  color: #7b6392;
}
.menu-button{
  color: #7b6392;
  float: right;
  text-decoration: none;
  padding: 10px 30px;
  margin-right: 60px;
  border: 2px solid;
}
.menu-button:hover{
  background: #e5e5e5;
}

/* main */
.main{
  background: url('../img/bg.jpg') no-repeat no-repeat center;
  background-size: cover;
  padding: 100px 0px 100px 0px;
  text-align: center;
}
.main h1{
  font-size: 5em; /* 80px */
  color: #fff;
  font-weight: 400;
  margin: 40px 0px 40px 0px;
}
.main h2{
  font-size: 1.875em; /* 30px */
  font-weight: 400;
  font-style: italic;
  font-family: cursive;
  color: #fff;
}
.main h2::before,.main h2::after{
  content: '';
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #fff;
}
.main h2::before{
  margin: 10px 20px 10px 0px;
}
.main h2::after{
  margin: 10px 0px 10px 20px;
}
.main p{
  display: inline-block;
  color: #fff;
  font-size: 0.9375em; /* 15px */
}
.main-p::after{
  content: '|';
  display: inline-block;
  padding: 0px 10px;
}
.main-button{
  display: block;
  text-decoration: none;
  background: #7b6392;
  color: #fff;
  width: 140px;
  margin: 40px auto 0px auto;
  padding: 10px 0px;
}
.main-button:hover{
  background: #524261;
}

/* footer */
.footer{
  background: #2e2e2e;
  color: #fff;
  padding: 20px 10px 40px 10px;
}
.footer p{
  float: left;
}
.footer ul{
  float: right;
}
.footer ul li,.footer ul li a img{
  display: inline;
}
.footer ul li a img{
  padding: 0px 10px;
}
.footer p a{
  color: #337ab7;
  text-decoration: none;
}
.footer p a:hover{
  color: #337ab7;
  text-decoration: underline;
}